<% title "Query" %>

<p>
  <strong>Terms:</strong>
  <%=h @query.terms %>
</p>

<p>
  <%= link_to "Edit", edit_query_path(@query) %> |
  <%= link_to "Destroy", @query, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", queries_path %>
</p>
